.header-wrapper {
  .flexbox(nowrap, row, center, center);
  background-color: @secondary-light;
  height: 10vh;

  img {
    height: 4.5rem;
  } // closes img

  h1 {
    color: @dark-text;
    padding: 1.5rem;
  } // closes h1
} // closes .header-wrapper
